// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    font-size: 32px;
    color: #1e90ff;
}

.title {
    color: #1e90ff;
    font-family: "Arial", Times, serif; /*backup fonts*/
    /*center align text, font 32, bold*/
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.navbar ul {
  list-style-type: none;
  margin: auto; /* center align the nav bar */
  padding: 0;
  border-radius: 3px;
  border: 1px solid #000000;
  overflow: hidden;
  background-color: #333333;
  width: 60%; /* nav bar is 60% width of the entire page - change as desired. */
}

.navbar li {
  float: left;
  border-right: 1px solid #bbb;
  font-size: 18px; /* font size of navbar */
  width: 20%; /* 100% / 5 because we have 5 options in the menu bar. For example, if we get 6, this becomes 100/6 = 16.65% */
  /* TODO fix this, it should be working at 20% */
}

.navbar li:last-child {
  border-right: none; /* this is for the LAST element in the menu bar. We don't need a right border here, so this removes it */
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

.active {
  background-color: #1e90ff;
}

.navbar li a:hover:not(.active) {
  background-color: #006ad1;
}

/* container for the full height of our page, this is used to force the footer to the bottom */
#page-container {
    position: relative;
    min-height: 100vh;
}

/* Block is the length of the nav bar to make content fit underneath the bar */
.block {
    width: 60vw; /* 60% of the view width */
    text-align: left;
    margin: auto;
}

/* For the log in section */
.login-block {
  width: 385px;
  text-align: center;
  margin: auto;
  /* padding: top, right, bottom, left */
  padding: 30px 50px 30px 50px;
  border: 1px solid #000000;
  /*border-style: solid none;*/
  border-radius: 25px;
  box-shadow: 0px 0px 15px #080808; /*006ad1*/
}


/* TODO fix this to only be for the 'login' page */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.footer {
    padding: 100px 0 0 0;
    /*padding-bottom:75px;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;             /* Footer height */
    text-align:center;
    opacity: 75%;
}

/* This splits the page into 2 columns and also fixes the nav bar 20% issue */
* {
    box-sizing: border-box;
}

/* for the dropdown menu:*/

/* When we hover over the nav bar: */


/* For drop-down sub menus */
li.dropdown {
  display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 12%;
}

/* ddli stands for "drop down list" */
.dropdown-content ddli {
    display: block;
    text-align: left;
}

/* Dropdown style for menu bar */
.dropdown:hover .dropdown-content {
    display: block;
    /* Maybe overkill, but a standard "border" tag would include the top, which we don't want.
     This would make a black line appear between elements */
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}