
    <div class="block">
        
    
    <h3>
        <% if current_user %>
            Welcome, <%= current_user.name %>!
        <% else %>
            Welcome!
        <% end %>
    </h3>
    
    <h2 style="text-align:center"><u>Movies currently streaming:</u></h2>
    <div id="slideshow">
      <!-- Thank you to https://code-boxx.com/simple-pure-css-slideshow/ -->
      <div id="slides">
        <%= image_tag("slideshow/chernobyl.jpg", alt: "Chernobyl", 'data-caption': "Chernobyl (2019)" ) %>
        <%= image_tag("slideshow/endgame.jpg", alt: "Avengers: Endgame", 'data-caption': "Avengers: Endgame (2019)" ) %>
        <%= image_tag("slideshow/joker.jpg", alt: "Joker", 'data-caption': "Joker (2019)" ) %>
      </div>
 
      <!-- [CONTROLS + CAPTION] -->
      <div id="slide-left">&lt;</div>
      <div id="slide-right">&gt;</div>
      <div id="slide-caption"></div>
    </div>
    
    </div>
    
