<div id="page-container"> <%# everything within the page will be put in a container for the footer%>
<%= render 'navigation' %>
    
    <div class="block">
            <p>
                This is some example content.<br>
                Notice we are aligned underneath the nav bar. To do this, stay within the "block" div.
            </p>
    </div>
    
    
    <p>Now we are all the way to the left because we are outside of the "block" div.</p>
    
    <p align="right">Now we're all the way to the right because of the "< p align="right" >" tag</p>
         
         
    <p align="center">
        Check out the footer.
    </p>
         
    
</div>