
    <div class="block">
        
    <p>
        <% if current_user %>
            Welcome, <%= current_user.name %>!
        <% else %>
            Welcome!
        <% end %>
    </p>
   
            <p>
                This is some example content.<br>
                Notice we are aligned underneath the nav bar. To do this, stay within the "block" div.
            </p>
    </div>
    
    
    <p>Now we are all the way to the left because we are outside of the "block" div.</p>
    
    <p align="right">Now we're all the way to the right because of the "< p align="right" >" tag</p>
         
         
    <p align="center">
        Check out the footer.
    </p>
    