<footer>
    <div class="footer">
        <hr>
        <p>Copyright &copy; 2020 Corey, Kyril, Kevin, and Hailey - Students at UNC Charlotte<br>ITSC 3155 - Software Engineering - Spring 2020 - Dr. Najjar</p>
    </div>
</footer>