<div id="page-container"> <%# everything within the page will be put in a container for the footer%>
<%= render 'navigation' %>
</br>
<%= link_to '< Back', articles_path %>
<h1>New Article</h1>

<%= render 'form' %>

<br><br><br><br><br><br><br>
<%= render 'footer' %>
</div>