<div id="page-container"> <%# everything within the page will be put in a container for the footer%>
    <%= render 'navigation' %>

    <h1>Movies</h1>
    <h2>In Theaters</h2>
    <p>Nothing due to COVID-19. RIP</p>
    <h2>OnDemand</h2>
    <p>Trolls World Tour</p>
    <p>The Turning</p>
    <p>The Invisible Man</p>
    <p>Sonic The Hedgehog</p>
</div>