<div id="page-container"> 
    <%= render 'navigation' %>
    <p>
    <strong>Movie Title:</strong>
    <%= @movie.title %>
</p>

<p>
    <strong>Movie Synopsis:</strong>
    <%= @movie.synopsis %>
</p>

<br><br><br><br><br><br><br>
<%= render 'footer' %>
</div>